@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+JP:300,400,500,700,900&display=swap');



body {
  margin: 0px;
  background: #F9F9F9;
  margin-left: 10vh;
  margin-right: 10vh;
  padding: 10vh;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(180deg, rgba(98, 160, 137, 0.2) 0%, rgba(165, 180, 149, 0.2) 100%), #FFFFFF;
}


h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
}

.tittle {
  margin-bottom: 80px;
}

h3 {
  font-weight: 600;
  font-size: 25px;
  letter-spacing: -0.01em;
}

h2{ 
  
  margin-top: 55px;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}

.main-imgs {
  display: flex;
}

#imgWeb {
  width: 800.16px;
  height: 380px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#webMainContent{
  width: 758.05px;
  height: 360px;
}

#webContent{
  width: 526.42px;
  height: 250px;
  margin-bottom: 20px;
}

.webPopup > :first-child{
  padding-right: 20px;
}

.mainImg{
  margin-left: 55px;
}

img {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.10);
}

.mainMobile {
  font-weight: 500;
  width: 214.78px;
  height: 380px;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0;
}

#imgMobile {
  width: 214.78px;
  height: 380px;
}

p {
  font-size: 17px;
  letter-spacing: -0.02em;
}

#flex {
  display: inline-flex;
}


.secondColumn {
  margin-top: 30px;
}

.secondColumn > :not(:first-child){
  margin-left: 55px;
}

#flex > :not(:first-child){
  margin-left: 55px;
}

.imgWebExpand {
  width: 842.28px;
  height: 400px;
}

.popup-content {
  background: none !important;
  padding: 0px !important;
  box-sizing: border-box;
  margin: auto !important;
  border: 0px !important;
}


@media (max-width: 800px) {
body {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    margin-left: 0;
    margin-right: 0;
}

h1, h2 {
  font-size: 4vh;
}

  .main-imgs, #flex {
    display: grid;
}

#flex, .secondColumn, p  > :not(:first-child) {
  margin-left:none;
  margin-right: none;
  padding: none;
}

#webMainContent, #imgWeb, #webContent , p, .popup-content, .webPopup {
  width: 100%;
  height: auto;
}

.imgWebExpand, .popup-overlay {
  width: 0px;
  height: 0px;
  margin: 0px;
}

.popup-content, .webPopup {
  width: auto;
  height: auto;
}

#webContent {
  margin-bottom: 5px;
  margin-left: 0px !important;
  margin-bottom: 0px !important;
  padding-right: 0px;
}

img {
  box-shadow: none;
  margin: none !important;
  padding: none !important;
}

.secondColumn, #imgMobile, #flex {
  display: grid;
  margin: 0;
  margin-left: 0px ;
}

#flex > :not(:first-child) {
  margin-left: 0px;
}
}